How to reference sections within an RFC?

I can't seem to get the syntax right to refer to a section within an RFC. Can you give me some guidance? I'm currently authoring the ARC and ARC-Usage I-Ds with kramdown-rfc2629.

You want to reference a section in a different RFC?  XML2RFCv2 has no special support for that, so you just write

    Section 6 in {{RFC7049}}

after adding RFC7049 to the normative: or informative: sections in the references YAML.

You reference a section in your own document by giving it an ID first as in

    ## Animals with Furs  {#secfurry}

and then referencing it as in

    See {{secfurry}} for information how to apply this protocols to furry animals.

But maybe I don't understand the question.

Yes, that's what I wanted to do - reference something like rfc7049#section-6. It's commonly done in RFCs so I'm surprised that xml2rfcv2 doesn't support it. I will have to check to see how I did it in one draft that I authored in xml. It seems like a big gap for MD pre-processing. 

The HTML converter in tools.ietf.org has a heuristic for guessing section links from the text.  It mostly works, but sometimes fails.  XML2RFCv3 will have support for a weirdly named <relref> element, and as soon as backend support for that is available, I'll add a few heuristics so you will be able to continue writing

    Section 6 of {{RFC7049}}

and then get

    <relref section="6" target="RFC7049"/> 

in the XML (if that heuristic fails, you still can write the XML form of the reference).

I've been finding that the guesser seems to be whiffing on my current draft.

I was hoping that there was some syntax like {{RFC7049#section-6}} that would work in kramdown-rfc.

Adding syntax like this would be easy, but there is nothing to map to in XML2RFCv2.
I have added an XML2RFCv3 milestone to capture what needs to be done for that new version once the tools become available.

How about supporting rcf2629.xslt as backend? That has the relevant extension attributes.

I'm not sure whether this is the best place to ask, but I have an issue that seems to be closely related.  I want my internal references to not only include the section name, but also the section title.  This information is available to Kramdown, so it seems like there should be a way to do it and maybe the syntax already supports it but I've just overlooked it.

Right now I write a sentence like:

> For more information, see {{security-considerations}}, "Security Considerations".

which references this in the generated XML:

> <section anchor="security-considerations" title="Security Considerations">

to ultimately give me:

> For more information, see Section 7, "Security Considerations".

It seems unnecessarily redundant when the data is available.  Obviously if I change the "# Security Considerations" markdown text I'd need to update the automatically-generated internal reference, but ideally then the appositive at the referring sites would naturally change as well without manual correction.

Thanks for any feedback.

It appears that [`<relref>`](https://tools.ietf.org/html/rfc7991#section-2.44) will also allow content, like `<relref target="RFC7049" section="6">Diagnostic Notation</relref>` or `<relref target="RFC7541" section="1.3">header lists</relref>`. It'd be nice if the eventual Kramdown syntax also allowed that content. The first could be automatically drawn from the section title, but the second couldn't.

The kramdown syntax we use for xrefs with content is `[Diagnostic Notation](#RFC7049)`.  This allows adding a inline attribute list (IAL): `[Diagnostic Notation](#RFC7049){: foo="bar"}`.  Right now, these IALs are being ignored, but it would be easy to copy them over into the xref.  Switching between xref and relref could be triggered by the presence of one of the relref attributes, but we don't do XML2RFCv3 yet, although that appears to be coming this year.

IMHO it would be better if \<xref> would just be extended to provide the additional functionality. Adding yet another element for that doesn't make any sense to me. (Yes, this isn't about kramdown but if more implementors would voice their opinion that would be good)

Actually, IALs are not ignored, neither for `[](#)` nor for `{{}}`.  So what @reschke requested is already there :-).  The one thing that is missing for basic support is switching to relref based on the presence of one of the attributes `section` or `relative`.  Or maybe I just add a IAL attribute such as `gi` to let you set it by yourself...

@reschke -- yes, the switching to `<relref>` is weird.

So for the record, the solution available today for the problem posed by @vttale is:

```
{{seccons}}, "{{seccons}}{: format="title"}"
```

turning into 

```
Section 6, "Security Considerations"
```

in an example document where that section is section 6.

(To enable more playing around, I also did the IAL attribute `gi`, but I won't push 1.2.4 before the impending I-D deadline.)

So, doable as-is, yes, but could be more user-friendly.  I'd like a user-friendly way to do what @kurta suggested as well.



Given that markdown is meant to look a lot like the text itself, I'm looking at adding sugar for section/sectionFormat attributes like this:

~~~
{{Section 2.3 of RFC9999}} -- of
{{RFC9999, Section 2.3}} -- comma
{{RFC9999 (Section 2.3)}} -- parens
{{Section 2.3 [RFC9999]}} -- bare
~~~

I'm not so sure about the syntax I invented for "bare", there is no natural way to do this.
Note that this doesn't support spanning the xref over some content; you'd continue to do

~~~
[header lists](#RFC7541){: section="1.3"}
~~~

for that (again, there is no natural syntax for this).
Also, I haven't dreamed up syntax for sugaring

~~~
{{overview}}{: format="counter"}
{{overview}}{: format="title"}
~~~

Comments?


One drawback of the format with embedded spaces is that those of us who use auto-filling editors might see these split up into multiple lines.  We'd have to make {{...}} more aggressive (accept line endings) to make this innocuous.

I like the of/comma/parens sugar. I agree with you regarding "bare", but I think that one is used relatively rarely, so it would be reasonable to just provide sugar for of/comma/parens. Consider making the "section" optional, e.g., `{{3.3 of RFC7230}}`, `{{RFC7230, 3.3}}`.


The current way to get my preferred output is unwieldy:

```
{{seccons}}, "{{seccons}}{: format="title"}"
```

Here's a couple that I'd be happier with, though I grant they might be too line-noisy for some people or have some other conflict.  The first just keeps things as they are, and the others use # for indicating you want the section number or " wants the section title. Just brainstorming.

```
{{seccons}} => Section 6
{{#seccons#}} => Section 6
{{"seccons"}} => "Security Considerations"
{{#"seccons"#}} => Section 6, "Security Considerations"
{{"#seccons#"}} => Section 6, "Security Considerations"
```
Optionally off the balancing final punctuation, though at least balanced quotes is useful for some editors.

My thought on that last example is just to make it easy for people to not have to remember what order the # and " went in, and that wanting the final one in the list to instead do the reverse of the one before it is probably a rare construction by authors ("Security Considerations", Section 6).

I note that this doesn't have a provision for an unquoted section title.   That might be a shortcoming.


> Given that markdown is meant to look a lot like the text itself, I'm looking at adding sugar for section/sectionFormat attributes like this:
> 
> ```
> {{Section 2.3 of RFC9999}} -- of
> {{RFC9999, Section 2.3}} -- comma
> {{RFC9999 (Section 2.3)}} -- parens
> {{Section 2.3 [RFC9999]}} -- bare
> ```


I think that you implemented all of this, so maybe close the issue.
But, first, stupid.mkd needs an update with each possible syntax used.


<pre>
** space(s) in cross-reference 'Section 2.6 of RFC7030' -- are you trying to use section references?
</pre>

It was this message made me doubt that I had the syntax right.
I think that it's just a notice, not an error.


https://mailarchive.ietf.org/arch/msg/rfc-markdown/DvG3W4pmeApsE52RVnCDs1M6wsY/ is the description.
Subscribing to the low-volume list rfc-markdown@ietf.org is recommended.
Of course, at some point this needs to be copied over to the documentation...


> ** space(s) in cross-reference 'Section 2.6 of RFC7030' -- are you trying to use section references?

This is highly surprising.  Did you get this exact message?  If yes, please send input document.


(BTW, stupid.mkd was an actual draft; I'm not sure this should be updated with things that happened a decade later...)

What I figured out was that I 
a) didn't have -3
b) when I did have -3, I got errors about an empty contributor: section, but I didn't know that, so I bug hunted around.

I'm all good now.