With RFCXMLv2, it does not appear to be possible to reference multi-document BCPs in a way that satisfies Section 4.8.6.3 of RFC 7322.  Adding an XML2RFCv3 label.


I don't believe the V3 vocabulary helps with this issue.

Well, we don't know that yet, as the vocabulary is not yet finalized.  The current draft (https://tools.ietf.org/html/draft-iab-xml2rfcv2-02) has `<referencegroup>`, which is supposed "to allow referencing multi-RFC documents such as STDs and BCPs."  In any case, there is little point trying to address this issue before V3.  For now the workaround is "don't do that, then".