section references are case sensitive

It appears that:

    {{section 9 of RFC9019}}

does not work, while

    {{Section 9 of RFC9019}}

does work.

The error that comes out is in xml2rfc, and is pretty obscure.

Indeed, kramdown-rfc is case-sensitive.

If it doesn't recognize any special syntax, it just ships the reference as is to xml2rfc.

Do you want this to change (e.g., to case-sensitive, to recognizing "Abschnitt" as well as "Section", etc.; or do you simply kramdown-rfc to emit a message that the reference looks fishy?

> Indeed, kramdown-rfc is case-sensitive.
> 
> If it doesn't recognize any special syntax, it just ships the reference as is to xml2rfc.

I didn't know.

> Do you want this to change (e.g., to case-sensitive, to recognizing "Abschnitt" as well as "Section", etc.); or do you simply kramdown-rfc to emit a message that the reference looks fishy?

I'm not sure.  I think "looks fishy" might be enough.




Fishy message will be in 1.5.1, which I'll push after the frenzy.
