<sourcecode> in v3

It would be super-nice if `<sourcecode>` were generated when appropriate, so that linters, etc., could rely on its presence, and to reduce diffs from the RFC Editor (since xml2rfc --v2v3 doesn't automatically convert them).

I'm thinking that kramdown-rfc2629 could assume that something is `<sourcecode>`, not `<artwork>`, when `@type` matches an entry in `https://www.rfc-editor.org/materials/sourcecode-types.txt`.

Because new source languages are coined every minute, maybe it is better to make a list of types that stay <artwork>?  Section 2.5.7 of RFC 7991 suggests

```
   o  ascii-art
   o  binary-art
   o  call-flow
   o  hex-dump
   o  svg
```

https://tools.ietf.org/id/draft-levkowetz-xml2rfc-v3-implementation-notes-10.html#section-3.1.3 contains more musings about the sorry state that this part of RFCXMLv3 is in, clarifying the type attribute for artwork to be a format specifier and leaving hex-dump and call-flow on the cutting-room floor.

RFC 8688 is the only one I can find that has type=hex-dump, but uses it for base64.

```
        <artwork align="left" alt="" name="" type="hex-dump" pn="section-4.1-14">
eyJhbGciOiJFUzI1NiIsInR5cCI6InZjYXJkK2pzb24iLCJ4NXUiOiJodHRwczov
L2NlcnRzLmV4YW1wbGUubmV0L3JlamVjdF9rZXkuY2VyIn0=
</artwork>
```

This is also the only one I can find that uses type=call-flow, for a pretty standard ASCII-art representation of a message sequence chart.

OBTW, what is "binary-art"?

That seems like a reasonable approach...

> OBTW, what is "binary-art"?

I have no idea, but I'd like it to be [this](https://www.linusakesson.net/pages/binart.php). ;-)

I'd love to be able to use xml2rfc in [draft-dkg-lamps-samples](https://datatracker.ietf.org/doc/draft-dkg-lamps-samples/) to generate `sourcecode` elements of PEM-encoded X.509 certificates, secret key material, and PKCS #12 objects which would be easily extractable from the resultant RFC.   Including a filename for these elements would also be a nice bonus.

I'm also interested in using kramdown-rfc2629 to refer to `sourcecode` snippets of C API that could be used to document an extension to the [stateless OpenPGP interface](https://gitlab.com/dkg/openpgp-stateless-cli/-/issues/32).


> I'd love to be able to use kramdown-rfc2629 in [draft-dkg-lamps-samples](https://datatracker.ietf.org/doc/draft-dkg-lamps-samples/) to generate `sourcecode` elements of PEM-encoded X.509 certificates, secret key material, and PKCS #12 objects which would be easily extractable from the resultant RFC. 

You are not using {::include fn}, but built your own -- reason?

> Including a filename for these elements would also be a nice bonus. That draft source is [on gitlab](https://gitlab.com/dkg/lamps-samples).

Yes, that would be the "name" attribute, which you can put into an IAL.

As this needs to be put on the actual artwork element, you end up needing this:

```
~~~ mylang
{::include foo.mlng}
~~~
{: artwork-name="foo"}
```

This is not exactly well documented, so documentation needs to be part of the solution for this issue

> You are not using {::include fn}, but built your own -- reason?

ignorance? 😛

however, in my latest revisions, i have some inclusions that need to happen within backticks, which would look like this:

```
This secret key was generated using provable prime generation found in {{FIPS186-4}} using the seed `{::include ca.seed}`.
```

But that appears to just embed the literal string `{:include ca.seed}` instead of the contents of the `ca.seed` file.  I'll convert all my full-line objects to use `{::include` though, thanks for the suggestion.

> {: artwork-name="foo"}

thanks for this hint.  it looks like it's coming through as expected now, though the version of xml2rfc that i'm using isn't doing anything particularly clever with that tag when i convert it to html locally. I'll submit a new revision of the draft shortly and see what i can do with it.

I still think that these PEM objects would be better labeled as `sourcecode` than `artwork` -- if there's a way to do that with kramdown-rfc2629, let me know! But in fact they're something different than both -- they're ASCII-encoded sample protocol data units (PDUs), but i don't see anything in [RFC 7991](https://tools.ietf.org/html/rfc7991) that is more appropriate. ☹

PS any suggestion of what `type` attribute i should use for PEM-encoded objects like this?  [discussion over on ACME](https://github.com/ietf-wg-acme/acme/issues/120) suggests `application/x-pem-file` is the appropriate MIME type, but for whatever reason the `type` attribute isn't aligned with MIME.

Working on the code for sourcecode (had a sufficiently boring meeting to write it already, now testing).
(I think sourcecode is fine for any machine-readable input, even PEM stuff.)

`{::include fn}` is currently only recognized at column 0; your usage is a new idea that hadn't surfaced so far.
Recognizing that construction anywhere is a bit more dangerous; can you think about another restricting condition we could apply to it?  (Maybe we need to live dangerous.)
 
I don't think anything speaks against using media-type-names for type attributes; I actually think this is a great idea.  We could adopt the convention that anything with a / in it is a media-type-name.  (Or actually a content-type; parameters would need to be notated without spaces as spaces are not allowed in codeblock language identifiers.)

RFC 733 contains the string `Standard Distribution::Include:` -- not quite a match, but a close hit.
draft-fossati-svg-test-03 does contain it literally in a kramdown-rfc example.  Hmm.
(And it's good humor to see the occasional `{::include` leak through unintendedly... draft-ietf-rats-eat-05...

Probably need to make its own issue about that.



> Probably need to make its own issue about that.

#104 covers this issue.  thanks for thinking about it!

in the commit message in https://github.com/cabo/kramdown-rfc2629/commit/18786196cc4d77c48373ce4f71d9eefdd7fad215 it has this example:

```
An example with an inline attribute list (IAL):

~~~ c
main() { return 1; }
~~~
{: #my-little-c-program artwork-name="myli.c" title="My little C program"}
```

It's not clear to me whether `artwork-name` works for both `sourcecode` and `artwork` (and maybe `sourcecode-name` would also work for both?), or whether the example is mistaken, and it should be `sourcecode-name`.

Either works.  (Making `artwork-name=` not work with this change would break existing documents that now generate `<sourcecode>`, so we had to accept both.)

hm, i've tried updating to 1.3.34, and this doesn't seem like it's working as expected for me.

the source code looks like this:

```
~~~ application/x-x509-ca-cert
{::include ca.crt}
~~~
{: artwork-name="ca.crt"}
```

and the generated xmlv2 looks like this:

```
<figure><artwork type="application/x-x509-ca-cert" name="ca.crt"><![CDATA[
-----BEGIN CERTIFICATE-----
MIIDLDCCAhSgAwIBAgITD5FARp09T2LXr/FPQiI+8ZsGAjANBgkqhkiG9w0BAQ0F
ADAtMSswKQYDVQQDEyJTYW1wbGUgTEFNUFMgQ2VydGlmaWNhdGUgQXV0aG9yaXR5
```

I would have expected `sourcecode` instead of `artwork`.

I'm invoking it as `kramdown-rfc2629 < lamps-samples.md > lamps-samples.xml`, fwiw.  Should I be doing something differently?

You are not setting --v3, and `<sourcecode>` is not valid in v2.

Best call kramdown-rfc2629 using the driver `kdrfc`, as in

kdrfc -3chi lamps-samples

(This gives you a .txt, a converted v3 XML, a HTML, and an idnits check, all in one call :-)


after [supplying the `--v3` flag](https://gitlab.com/dkg/lamps-samples/-/commit/bd7422d17b68012d5e493a81d7557e853365cfdc) to my invocation of `kramdown-rfc2629`, the transformation works as expected.  thanks!